html, body{height: 100%; }
body{font-size: 14px; line-height: 18px;}
.mainbody{ padding-bottom: 50px; min-height: 100%;}
.mainbody .row{margin: 0px;}
.page-header{margin-top: 0px;  border-bottom: 1px solid #1995DC; padding-bottom: 0px; }
.page-header h1{margin-top: 0px; font-size: 24px;}
.panel-body {width: 100%; margin: 0 auto;}
.panel-body .col-lg-3{margin:25px; border: 1px solid #006bd6; padding: 10px; }
.adjustImage{ border: 1px solid #000; text-align:center; width:auto; margin:0 auto; }
.adjustImage img{max-width: 200px; max-height: 200px; border: 1px solid #000; }
.textContainer{width: 100%; padding-top: 10px; }
.btn-social{padding-top: 5px;}
.footer{ margin:0; padding: 17px 0; border-radius: 0px; height: auto; }
.copyright{ color: #fff; text-align: center; }
.copyright a{ color: #fff; }
.required{color: #ff0039;}
.mn-bar{ 
  background-color: #FD150D;
  border-radius: 5px;
  margin-left: 6%;
  margin-right: 6%;
}
.mn-bar a{
  color: #fff;
}
.mn-bar a:hover{
  color: #FD150D;
  background-color: #fff;
}

/*==================
 FOOTER SECTION
====================*/

#aa-footer {
  background-color: #222;
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer ul{

  padding: 0;
  margin: 0;
  list-style: none;
}
#aa-footer a{
font-size: 14px;
}

#aa-footer .aa-footer-top {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
  min-height: 100px;
}
#aa-footer .aa-footer-top .aa-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
  display: block;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget h3 {
  color: #fff;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:hover, #aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:focus {
  color: #fff;
  text-decoration: none;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p {
  margin-bottom: 5px;
  color: #888;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p span {
  margin-right: 5px;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a {
  border: 1px solid #888;
  color: #888;
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a:hover {
  color: #fff;
  border-color: #fff;
}
#aa-footer .aa-footer-bottom {
  border-top: 1px solid #333;
  display: inline;
  float: left;
  padding: 15px 0;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area {
  display: inline;
  float: left;
  width: 100%;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p {
  color: #888;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
}
#aa-footer .aa-footer-bottom .aa-footer-bottom-area > p a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}